@model List<ERP.Models.CartItem>

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Istorija narudžbi</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    <div>
        <h3>Istorija narudžbi</h3>
        <table class="table" id="order-history-table">
            <thead>
                <tr>
                    <th>Proizvod</th>
                    <th>Količina</th>
                    <th>Cena</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.ProductName</td>
                        <td>@item.Quantity</td>
                        <td>@item.Price</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</body>
</html>
