@model ProductDto
@{
}

<div class="row">
    <div class="col-md-8 mx-auto rounded border p-3">
        <h2 class="text-center mb-5">Izmeni proizvod</h2>


        <form method="post" enctype="multipart/form-data">

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">ID</label>
                <div class="col-sm-8">
                    <input class="form-control-plaintext" readonly value="@ViewData["ProductID"]">
                </div>
            </div>


            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Naziv</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="Product_name">
                    <span asp-validation-for="Product_name" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Brend</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="Brand">
                    <span asp-validation-for="Brand" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Kategorija</label>
                <div class="col-sm-8">
                    <select class="form-select" asp-for="Category">
                        <option calue='Other'>Other</option>
                        <option calue='Nega_lica'>Nega lica</option>
                        <option calue='Nega_tela'>Nega tela</option>
                        <option calue='Nega_kose'>Nega kose</option>
                    </select>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Cena</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="Price">
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Opis</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="Description">
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-sm-8">
                    <img src="/Images/@ViewData["ImageFileName"]" width="150">
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Slika</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="ImageFile">
                    <span asp-validation-for="ImageFile" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Created At</label>
                <div class="col-sm-8">
                    <input class="form-control-plaintext" readonly value="@ViewData["CreatedAt"]">
                </div>
            </div>

            <div class="row">
                <div class="offset-sm-4 col-sm-4 d-grid">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
                <div class="col-sm-4 d-grid">
                    <a class="btn btn-outline-primary" asp-controller="Products" asp-action="Index" role="button">
                        Cancel
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>